<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<header>
        <a class="imgLogo" href='@Url.Action("Index", "Home")'><img src="/Imagenes/logo.png" alt="Sportlink"></a>
        <nav>
          <ul>
            <li><a href='@Url.Action("irPruebas", "Home")'>Pruebas</a></li>
            <li><a href='@Url.Action("irVideos", "Home")'>Videos</a></li>
            <li><a href='@Url.Action("irMensajes", "Home")'>Mensajes</a></li>
        @if (ViewBag.Usuario != null && ViewBag.Usuario.FotoPerfil != null)
            {
                <img class = "fotoUsuario" src="/@ViewBag.Usuario.FotoPerfil" alt="Foto de perfil">
                <li><a href='@Url.Action("CerrarSesion", "Session")'>Cerrar sesión</a></li>
            }
                else  
{
    <a href='@Url.Action("irUser", "Session")'><img src="/Imagenes/inicio.png"></a>


}

          </ul>
        </nav>
       
      </header>
<body>
   

    <main role="main">
        @RenderBody()
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
