
@{
    ViewData["Title"] = "Inicias Sesion";
}



<section class="inicioUser">
        <div>
          <img src="~/imagenes/logonegro.png" alt="Sportlink">
        </div>
      
        <form action='@Url.Action("guardarInicio","Session")' method="post">
          <div>
            <h2>Usuario</h2>
            <input type="text" name="Usuario" placeholder="Ingresar username"/>
            <h2>Contraseña</h2>
            <input type="password" name="Contraseña" placeholder="Ingresar Contraseña"/>
          </div>
          <input type="submit" value="INICIAR SESIÓN">
        </form>
      
        <h5>¿No tienes una cuenta?</h5>
        <button><a href='@Url.Action("irRegistrarScout", "Session")'>Registrate aqui como scouter</a></button>
      </section>

 <footer>
    <div>
      <img src="img/logo.png" alt="Sportlink">
      <p>
        Conectando el talento joven con su futuro profesional.<br>
        Damos visibilidad a tu talento y les abrimos las puertas<br>
        a nuevas oportunidades
      </p>
    </div>
  
    <div>
      <h3>Explorá</h3>
      <ul>
        <li><a href='@Url.Action("Index", "Home")'>Inicio</a></li>
        <li><a href='@Url.Action("irVideos", "Home")'>Videos</a></li>
        <li><a href='@Url.Action("irPruebas", "Home")'>Pruebas</a></li>
      </ul>
    </div>
  
    <div>
      <h3>Seguinos</h3>
      <div class="redes">
        <img src="img/ig.png" alt="Instagram">
        <img src="img/tw.png" alt="X">
      </div>
      <h3>Contacto</h3>
      <p>
        email: sportlink@gmail.com<br>
        teléfono: +54 0000 0000
      </p>
    </div>
  </footer>