 <header>
        <img src="/Imagenes/logo.png" alt="Sportlink">
        <nav>
          <ul>
            <li><a href='@Url.Action("irPruebas", "Home")'>Pruebas</a></li>
            <li><a href='@Url.Action("irVideos", "Home")'>Videos</a></li>
            <li><a href='@Url.Action("irMensajes", "Home")'>Mensajes</a></li>
          @if (ViewBag.Usuario != null && ViewBag.Usuario.FotoPerfil != null)
  {
   <img class = "fotoUsuario" src="@ViewBag.Usuario.FotoPerfil" alt="Foto de perfil">
  }
      else  
{
    <a href='@Url.Action("irUser", "Session")'><img src="Imagenes/inicio.png"></a>

}
          </ul>
        </nav>
        
      </header>
      <section>
<img src="img/logo.png" alt="logo">
<h1>Ingrese sus datos como scouter</h1>
<form action='@Url.Action("GuardarRegistroScout","session" )' method= "post" enctype="multipart/form-data">
<h2>Usuario</h2>
<input type="text" name="Usuario" placeholder="Ingresar Username" required/>
<h2>Contraseña</h2>
<input type="password" name="Contraseña" placeholder="Ingresar Contraseña" required/>
<h2>Nombre</h2>
<input type="text" name="Nombre" placeholder="Ingresar Nombre" required/>
<h2>Apellido</h2>
<input type="text" name="Apellido" placeholder="Ingresar Apellido" required/>
<h2>Telefono</h2>
<input type="text" name="Telefono" placeholder="Ingresar numero de telefono" required/>  
<h2>Foto de Perfil</h2>
<input type="file" name="FotoPerfil" placeholder="Ingresar foto de perfil" required/>
<h2>Email</h2>
<input type="email" name="Email" placeholder="Ingresar correo de mail" required/>

<label>Club</label>
<select name="idClub" required>
    @foreach (var club in ViewBag.Clubes)
    {
        <option value="@club.idClub">@club.Nombre</option>
    }
</select>
    <input type="submit" value="Registrarse"/>

    </form>
    
</section>

  <footer>
    <div>
      <img src="img/logo.png" alt="Sportlink">
      <p>
        Conectando el talento joven con su futuro profesional.<br>
        Damos visibilidad a tu talento y les abrimos las puertas<br>
        a nuevas oportunidades
      </p>
    </div>
  
    <div>
      <h3>Explorá</h3>
      <ul>
        <li><a href='@Url.Action("Index", "Home")'>Inicio</a></li>
        <li><a href='@Url.Action("irVideos", "Home")'>Videos</a></li>
        <li><a href='@Url.Action("irPruebas", "Home")'>Pruebas</a></li>
      </ul>
    </div>
  
    <div>
      <h3>Seguinos</h3>
      <div class="redes">
        <img src="img/ig.png" alt="Instagram">
        <img src="img/tw.png" alt="X">
      </div>
      <h3>Contacto</h3>
      <p>
        email: sportlink@gmail.com<br>
        teléfono: +54 0000 0000
      </p>
    </div>
  </footer>