
 <header>
        <img src="/Imagenes/logo.png" alt="Sportlink">
        <nav>
          <ul>
            <li><a href='@Url.Action("irPruebas", "Home")'>Pruebas</a></li>
            <li><a href='@Url.Action("irVideos", "Home")'>Videos</a></li>
            <li><a href='@Url.Action("irMensajes", "Home")'>Mensajes</a></li>
          @if (ViewBag.Usuario != null && ViewBag.Usuario.FotoPerfil != null)
  {
   <img class = "fotoUsuario" src="@ViewBag.Usuario.FotoPerfil" alt="Foto de perfil">
  }
      else  
{
    <a href='@Url.Action("irUser", "Session")'><img src="Imagenes/inicio.png"></a>

}
          </ul>
        </nav>
        
      </header>
<body>
    <section class="registroJugador">
        <img src="/Imagenes/logonegro.png" alt="Sportlink">
        <h1>Ingrese sus datos como jugador</h1>
      
        <form action='@Url.Action("GuardarRegistroJugador","Session")' method="post" enctype="multipart/form-data">
          
          <div class="ladoIzq">
            <h2>Nombre</h2>
            <input type="text" name="Nombre" placeholder="Lionel">
      
            <h2>Apellido</h2>
            <input type="text" name="Apellido" placeholder="Perez">
      
            <h2>Número telefónico</h2>
            <input type="tel" name="Telefono" placeholder="+54 11-9524-4512">
      
            <h2>Fecha de nacimiento</h2>
            <input type="date" name="FechaNacimiento">

            <h2>Género</h2>
            <select name="Genero" >
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>

         

    
          </div>
      
          <div class="ladoDer">
            <h2>Usuario</h2>
            <input type="text" name="Usuario" placeholder="ingresa el nombre de usuario">
      
            <h2>Contraseña</h2>
            <input type="password" name="Contraseña" placeholder="••••••••">
      
      
            <h2>Foto de perfil</h2>
            <input type="file" name="FotoPerfil" accept=".png, .jpg, .jpeg, .webp, .avif">
      
            <h2>Descripción</h2>
            <textarea name="Descripcion" maxlength="250" placeholder="Hasta 250 caracteres"></textarea>

              <h2>Deporte</h2>
              <select name="idDeporte" required>
              <option value="1">Fútbol</option>
              <option value="2">Básquet</option>
              <option value="3">Vóley</option>
              <option value="4">Tenis</option>
              <option value="5">Hockey</option>
              <option value="6">Natación</option>
              <option value="7">Atletismo</option>
              <option value="8">Rugby</option>
              <option value="9">Handball</option>
              <option value="10">Mma</option>
              <option value="11">Padel</option>
              <option value="12">Kabbadi</option>
              <option value="13">Beisbol</option>
              <option value="14">Cricket</option>
          </select>
      
           
          </div>
      
       <button type="submit">Registrarme</button>

        </form>
      </section>

</body>
  <footer>
    <div>
      <img src="img/logo.png" alt="Sportlink">
      <p>
        Conectando el talento joven con su futuro profesional.<br>
        Damos visibilidad a tu talento y les abrimos las puertas<br>
        a nuevas oportunidades
      </p>
    </div>
  
    <div>
      <h3>Explorá</h3>
      <ul>
        <li><a href='@Url.Action("Index", "Home")'>Inicio</a></li>
        <li><a href='@Url.Action("irVideos", "Home")'>Videos</a></li>
        <li><a href='@Url.Action("irPruebas", "Home")'>Pruebas</a></li>
      </ul>
    </div>
  
    <div>
      <h3>Seguinos</h3>
      <div class="redes">
        <img src="img/ig.png" alt="Instagram">
        <img src="img/tw.png" alt="X">
      </div>
      <h3>Contacto</h3>
      <p>
        email: sportlink@gmail.com<br>
        teléfono: +54 0000 0000
      </p>
    </div>
  </footer>
