  @{
    ViewData["Title"] = "SPORTLINK - Mensajes";
}

<header>
    <img src="/Imagenes/logo.png" alt="Sportlink">
    <nav>
        <ul>
            <li><a href='@Url.Action("irPruebas", "Home")'>Pruebas</a></li>
            <li><a href='@Url.Action("irVideos", "Home")'>Videos</a></li>
            <li><a href='@Url.Action("irMensajes", "Home")'>Mensajes</a></li>
            @if (ViewBag.Usuario != null && ViewBag.Usuario.FotoPerfil != null)
            {
                <img class="fotoUsuario" src="@ViewBag.Usuario.FotoPerfil" alt="Foto de perfil">
            }
            else
            {
                <a href='@Url.Action("irUser", "Session")'><img src="/Imagenes/inicio.png"></a>
            }
        </ul>
    </nav>
</header>

<body class= "bodyFondo">

<section class="contenedor-mensajes">
    <div class="barra-lateral-mensajes">
        <h2>MENSAJES</h2>
        <div class="busqueda-mensajes">
            <input type="text" placeholder="Buscar...">
        </div>

        <div class="contacto-item">
            <div class="avatar-contacto"></div>
            <div>
                <div class="linea-superior">
                    <h4>FELIPE GONZALEZ</h4>
                    <h6 class="scout">SCOUT</h6>
                    <h5>20:30</h5>
                </div>
                <p>Muchas gracias! Tengo que ver si puedo </p>
            </div>
        </div>

        <div class="contacto-item">
            <div class="avatar-contacto"></div>
            <div>
                <div class="linea-superior">
                    <h4>LUCAS SHECHIK</h4>
                    <h5>19:40</h5>
                </div>
                <p>JAJAJAJJAAJAJJAJAJAJAJA</p>
            </div>
        </div>

        <div class="contacto-item activo">
            <div class="avatar-contacto"></div>
            <div>
                <div class="linea-superior">
                    <h4>RAFAEL MENDEZ</h4>
                    <h6 class="scout">SCOUT</h6>
                    <h5>18:00</h5>
                </div>
                <p>Muchas gracias Rafa! Con gusto asistire a la prueba</p>
            </div>
        </div>

        <div class="contacto-item">
            <div class="avatar-contacto"></div>
            <div>
                <div class="linea-superior">
                    <h4>ALAN GORDON</h4>
                    <h5>16:00</h5>
                </div>
                <p>Bueno dale, mañana vemos que hacemos</p>
            </div>
        </div>

        <div class="contacto-item">
            <div class="avatar-contacto"></div>
            <div>
                <div class="linea-superior">
                    <h4>ADRIANA RODRIGUEZ</h4>
                    <h6 class="scout">SCOUT</h6>
                    <h5>14:00</h5>
                </div>
                <p>Hola, te falto decirme los horarios</p>
            </div>
        </div>

        <div class="contacto-item">
            <div class="avatar-contacto"></div>
            <div>
                <div class="linea-superior">
                    <h4>SEBASTIAN MARTINEZ</h4>
                    <h6 class="scout">SCOUT</h6>
                    <h5>13:00</h5>
                </div>
                <p>Bueno, seguimos en contacto y lo veo </p>
            </div>
        </div>

        <div class="contacto-item">
            <div class="avatar-contacto"></div>
            <div>
                <div class="linea-superior">
                    <h4>MARTINA FUENTES</h4>
                    <h5>11:30</h5>
                </div>
                 <p>Y nose si puedo, dejame fijarme y te digo</p>
            </div>
        </div>

        <div class="contacto-item">
            <div class="avatar-contacto"></div>
            <div>
                <div class="linea-superior">
                    <h4>LEO RASTAS</h4>
                    <h5>10:30</h5>
                </div>
                 <p>jajajaja, que buen comentario</p>
            </div>
        </div>
    </div>

    <div class="area-chat">
        <div class="encabezado-conversacion">
            <div class="avatar-contacto"></div>
            <h3>RAFAEL MENDEZ</h3>
        </div>

        <div class="contenedor-mensajes-chat">
            <div class="mensaje izquierda">
                <p>Hola Leo! Como va?</p>
            </div>
            <div class="mensaje izquierda">
                <p>Vimos tu ultimo video y la verdad que nos quedamos impresionados. Te queríamos comentar sobre una prueba de talleres que se vendra próximamente.</p>
            </div>


            <div class="mensaje izquierda">
                <div class="caja-imagen-mensaje">
                    <img src="/Imagenes/imgPrueba.png">
                    <div>
                        <h4>TALLERES</h4>
                        <h5>FUTBOL</h5>
                    </div>
                </div>
            </div>

            

            <div class="mensaje derecha">
                <p>Muchas gracias Rafa! Con gusto asistire a la prueba.</p>
                <h6 class="leido">Leído</h6>
            </div>
        </div>

        <div class="entrada-mensaje">
            <input type="text" placeholder="Escribe un mensaje...">
            <button>➤</button>
        </div>
    </div>
</section>

<footer>
    <div>
        <img src="/Imagenes/logo (3).png" alt="Sportlink">
        <p>
            Conectando el talento joven con su futuro profesional.<br>
            Damos visibilidad a tu talento y les abrimos las puertas<br>
            a nuevas oportunidades
        </p>
    </div>

    <div>
        <h3>Explorá</h3>
        <ul>
            <li><a href="Index.cshtml">Inicio</a></li>
            <li><a href="Videos.cshtml">Videos</a></li>
            <li><a href="Pruebas.cshtml">Pruebas</a></li>
        </ul>
    </div>

    <div>
        <h3>Seguinos</h3>
        <div class="redes">
            <img src="/Imagenes/insta-removebg-preview 2.png" alt="Instagram">
            <img src="/Imagenes/tw.png" alt="X">
        </div>
        <h3>Contacto</h3>
        <p>
            email: sportlink@gmail.com<br>
            teléfono: +54 0000 0000
        </p>
    </div>
</footer>
</body>

