  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>



 <body class="nscroll">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <header>
        <img src="/Imagenes/logo.png" alt="Sportlink">
        <nav>
            <ul>
                <li><a href='@Url.Action("irPruebas", "Home")'>Pruebas</a></li>
                <li><a href='@Url.Action("irVideos", "Home")'>Videos</a></li>
                <li><a href='@Url.Action("irMensajes", "Home")'>Mensajes</a></li>
    
                @if (ViewBag.Usuario != null && ViewBag.Usuario.FotoPerfil != null)
                {
                    <img class="fotoUsuario" src="@ViewBag.Usuario.FotoPerfil" alt="Foto de perfil">
                }
                else
                {
                    <a href='@Url.Action("irUser", "Session")'><img src="/Imagenes/inicio.png"></a>
                }
            </ul>
        </nav>
    </header>
    
    
    <!-- --------------------------- -->
    <!--         MENSAJES VIEW       -->
    <!-- --------------------------- -->
    <section class="mensajesview">
    
        <div class="container-fluid mensajes-container">
            <div class="row h-100">
    
                <!-- LISTA DE MENSAJES -->
                <section class="col-3 border-end p-0 bg-white">
    
                    <div class="p-3 fw-bold text-center textoMensajeBuscar">MENSAJES</div>
    
                    <div class="px-3 mb-3">
                        <div class="position-relative">
                            <input class="form-control rounded-pill" placeholder="Buscar..." />
                            <i class="bi bi-search buscador">
                            </i>
                        </div>
                    </div>
    
                    <div class="list-group list-group-flush">
    
                        <div class="list-group list-group-flush">
          
                            <a class="list-group-item list-group-item-action chat-item">
          
                              <div class="d-flex justify-content-between align-items-center top-row">
                                <div class="left-side d-flex align-items-center gap-2 left-box">
                                  <h5>FELIPE GONZALEZ.</h5>
                                  <h4>SCOUT</h4>
                                </div>
                                <h6>21:00</h6>
                              </div>
                              <div class="small text-muted">Te cuento lo que encontré…</div>
                            </a>
          
                            <a class="list-group-item list-group-item-action chat-item">
                              <div class="d-flex justify-content-between">
                                <h5>TOMAS FERNANDEZ</h5>
                                <h6 class="small text-muted">20:45</h6>
                              </div>
                              <div class="small text-muted">JAJAJAJAJAJAA</div>
                            </a>
          
                            <a class="list-group-item list-group-item-action active chat-item">
                              <div class="left-side d-flex justify-content-between">
                                <h3>RAFAEL MENDEZ</h3>
                                <h4>SCOUT</h4>
                                <h6 class="small">20:30</h6>
                              </div>
                              <div class="small">Muchas gracias Raf! Con gusto asistiré a la prueba.</div>
                            </a>
          
                            <a class="list-group-item list-group-item-action chat-item">
          
                              <div class="d-flex justify-content-between align-items-center top-row">
                                <div class="left-side d-flex align-items-center gap-2 left-box">
                                  <h5>ADRIAN RODRIGUEZ</h5>
                                  <h4>SCOUT</h4>
                                </div>
                                <h6>19:50</h6>
                              </div>
                              <div class="small text-muted">Puedo ofrecerte en otro horario</div>
                            </a>
          
                            <a class="list-group-item list-group-item-action chat-item">
                              <div class="d-flex justify-content-between">
                                <h5>LUCAS CHECHIK</h5>
                                <h6 class="small text-muted">19:00</h6>
                              </div>
                              <div class="small text-muted">y nose</div>
                            </a>
          
                            <a class="list-group-item list-group-item-action chat-item">
                              <div class="d-flex justify-content-between">
                                <h5>URIEL GONZALEZ</h5>
                                <h6 class="small text-muted">17:10</h6>
                              </div>
                              <div class="small text-muted">Dale, otro dia hablamos</div>
                            </a>
          
                            <a class="list-group-item list-group-item-action chat-item">
          
                              <div class="d-flex justify-content-between align-items-center top-row">
                                <div class="left-side d-flex align-items-center gap-2 left-box">
                                  <h5>SEBASTIAN MARTINEZ</h5>
                                  <h4>SCOUT</h4>
                                </div>
                                <h6>15:10</h6>
                              </div>
                              <div class="small text-muted">Ok</div>
                            </a>

                            <a class="list-group-item list-group-item-action chat-item">
          
                                <div class="d-flex justify-content-between align-items-center top-row">
                                  <div class="left-side d-flex align-items-center gap-2 left-box">
                                    <h5>FABRIZIO RODRIGUEZ</h5>
                                    <h4>SCOUT</h4>
                                  </div>
                                  <h6>12:00</h6>
                                </div>
                                <div class="small text-muted">Voy a ver si puedo asistir a la prueba</div>
                              </a>

                              <a class="list-group-item list-group-item-action chat-item">
          
                                <div class="d-flex justify-content-between align-items-center top-row">
                                  <div class="left-side d-flex align-items-center gap-2 left-box">
                                    <h5>NICOLAS CUKIER</h5>
                                  </div>
                                  <h6>10:50</h6>
                                </div>
                                <div class="small text-muted">Dale nos vemos mañana</div>
                              </a>
                </section>
    
    
                <!-- CHAT DERECHO -->
                <div class="col-9 d-flex flex-column p-0">                
    
                    <!-- HEADER CHAT -->
                    <div class="p-3 border-bottom d-flex align-items-center gap-3 bg-white">
                        <div class="rounded-circle"></div>
                        <h5 class="m-0 nombreChat">Rafael Mendez</h5>
                    </div>
    
                    <!-- CUERPO DEL CHAT -->
                    <div class="flex-grow-1 p-3 overflow-auto">
    
                        <div class="d-flex mb-3 mensajeRecibido">
                            <div class="p-2 rounded-3">
                            <p>Hola Leo! ¿Cómo va?, hemos visto el video que publicaste practicando remates de larga distancia y quedamos impresionados de como jugas</p>
                            </div>
                        </div>
    
                        <div class="d-flex mb-3">
                            <div class="p-2 rounded-3 mensajeRecibido">
                                 <p>¿Podras asistir a la siguiente prueba?</p>
                            </div>
                        </div>
    
                        <div class="d-flex mb-3">
                            <div class="rounded-3 border bg-white">
                                <img src="img/imgnPrueba.png" class="img-fluid rounded-top">
                                <div class="p-2 text-center colorTextPrueba">
                                    <h6>TALLERES</h6>
                                    <small>FÚTBOL</small>
                                </div>
                            </div>
                        </div>
    
                        <div class="d-flex justify-content-end mb-3">
                            <div class="p-2 rounded-3 text-white msjEnviado">
                                <p>Muchas gracias Rafa! Con gusto asistiré a la prueba.</p>
                            </div>
                        </div>
    
                    </div>
    
                    <!-- INPUT -->
                    <div class="p-3 border-top bg-white d-flex gap-2">
                        <input class="form-control" placeholder="Escribe un mensaje...">
                        <button class="btn text-white botonEnviar">Enviar</button>
                    </div>
    
                </div>
    
            </div>
        </div>
    
    </section>
    
    
    <!-- FOOTER -->
    <footer>
        <div>
            <img src="/Imagenes/logo.png" alt="Sportlink">
            <p>
                Conectando el talento joven con su futuro profesional.<br>
                Damos visibilidad a tu talento y les abrimos las puertas<br>
                a nuevas oportunidades
            </p>
        </div>
    
        <div>
            <h3>Explorá</h3>
            <ul>
                <li><a href='@Url.Action("Index", "Home")'>Inicio</a></li>
                <li><a href='@Url.Action("irVideos", "Home")'>Videos</a></li>
                <li><a href='@Url.Action("irPruebas", "Home")'>Pruebas</a></li>
            </ul>
        </div>
    
        <div>
            <h3>Seguinos</h3>
            <div class="redes">
                <img src="/Imagenes/ig.png" alt="Instagram">
                <img src="/Imagenes/tw.png" alt="X">
            </div>
            <h3>Contacto</h3>
            <p>
                email: sportlink@gmail.com<br>
                teléfono: +54 0000 0000
            </p>
        </div>
    </footer>

</body>
</html>
