@{
    ViewData["Title"] = "Pruebas";
    var pruebas = ViewBag.Pruebas;
}

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>

 <header>
        <img src="/Imagenes/logo.png" alt="Sportlink">
        <nav>
          <ul>
            <li><a href='@Url.Action("irPruebas", "Home")'>Pruebas</a></li>
            <li><a href='@Url.Action("irVideos", "Home")'>Videos</a></li>
            <li><a href='@Url.Action("irMensajes", "Home")'>Mensajes</a></li>
          @if (ViewBag.Usuario != null && ViewBag.Usuario.FotoPerfil != null)
  {
    <img class = "fotoUsuario" src="@ViewBag.Usuario.FotoPerfil" alt="Foto de perfil">
  }
      else  
{
    <a href='@Url.Action("irUser", "Session")'><img src="/Imagenes/inicio.png"></a>

}
          </ul>
        </nav>
        
      </header>

<body>
<nav class="navbar bg-light justify-content-center py-3">
      <div class="d-flex align-items-center border rounded-pill px-3 py-1"
           style="width:60%; max-width:600px; background-color:white;">
       
        <!-- Menú hamburguesa con dropdown -->
        <div class="dropdown">
          <button class="btn border-0 p-0 me-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-list fs-4"></i>
          </button>
          <ul class="dropdown-menu shadow border-0 rounded-4 p-2">
            <li><select class="form-select border-0"><option style="text-align: left;">Deporte</option>
              <option>Fútbol</option>
              <option>Basketball</option>
              <option>Tenis</option>
              <option>Padel</option>
              <option>Voley</option>
              <option>Hockey</option>
            </select></li>
            <li><select class="form-select border-0"><option style="margin-right: 2%;">Categoría</option>
              <option>2005-06</option>
              <option>2007-08</option>
              <option>2009-10</option>
              <option>2011-12</option>
            </select></li>
              <li><select class="form-select border-0"><option style="text-align: left;">Zona</option>
                <option>Norte</option>
                <option>Centro</option>
                <option>Sur</option> 
              </select></li>  
          </ul>
      
        </div>
   
        <!-- Campo de búsqueda -->
        <input class="form-control border-0 shadow-none flex-grow-1"
               type="search" placeholder="Buscar" aria-label="Buscar">
   
        <!-- Botón lupa -->
        <button class="btn border-0 p-0 ms-2" type="submit">
          <i class="bi bi-search fs-5"></i>
        </button>
      </div>

      @if (ViewBag.TipoUsuario == "scout")
{
    <button class="subirPrueba">
        <a href='@Url.Action("irSubirPrueba", "Home")'>SUBIR</a>
    </button>
}
    </nav>
  <main>
    <section> 
    
 <!--   @foreach (Pruebas Prueba in ViewBag.Pruebas){
      
      
       <p><strong>Deporte: @Prueba.Deporte</p>
       <p><strong>Categoria:</strong> @Prueba.Categoria</p>
       <p><strong>Fecha de la prueba:</strong> @Prueba.fechaPrueba</p>
       <p><strong>Club:</strong> @Prueba.Nombre</p>
    }
    -->
    @for (int i = 0; i < ViewBag.Pruebas.Count; i++)
{
    var prueba = ViewBag.Pruebas[i];
    <img src= "/@prueba.Imagen" alt="Foto Prueba">
    <p><strong>Deporte:</strong> @prueba.Deporte</p>
    <p><strong>Categoria:</strong> @prueba.Categoria</p>
    <p><strong>Fecha de la prueba:</strong> @prueba.fechaPrueba</p>
    <p><strong>Club:</strong> @prueba.Nombre</p>
    
    
    
}

    
    </section>
    
</main>


         <footer>
    <div>
      <img src="img/logo.png" alt="Sportlink">
      <p>
        Conectando el talento joven con su futuro profesional.<br>
        Damos visibilidad a tu talento y les abrimos las puertas<br>
        a nuevas oportunidades
      </p>
    </div>
  
    <div>
      <h3>Explorá</h3>
      <ul>
        <li><a href='@Url.Action("Index", "Home")'>Inicio</a></li>
        <li><a href='@Url.Action("irVideos", "Home")'>Videos</a></li>
        <li><a href='@Url.Action("irPruebas", "Home")'>Pruebas</a></li>
      </ul>
    </div>
  
    <div>
      <h3>Seguinos</h3>
      <div class="redes">
        <img src="img/ig.png" alt="Instagram">
        <img src="img/tw.png" alt="X">
      </div>
      <h3>Contacto</h3>
      <p>
        email: sportlink@gmail.com<br>
        teléfono: +54 0000 0000
      </p>
    </div>
  </footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>




