
 <header>
        <img src="/Imagenes/logo.png" alt="Sportlink">
        <nav>
          <ul>
            <li><a href='@Url.Action("irPruebas", "Home")'>Pruebas</a></li>
            <li><a href='@Url.Action("irVideos", "Home")'>Videos</a></li>
            <li><a href='@Url.Action("irMensajes", "Home")'>Mensajes</a></li>
          @if (ViewBag.Usuario != null && ViewBag.Usuario.FotoPerfil != null)
  {
    <img class = "fotoUsuario" src="@ViewBag.Usuario.FotoPerfil" alt="Foto de perfil">
  }
      else  
{
    <a href='@Url.Action("irUser", "Session")'><img src="Imagenes/inicio.png"></a>

}
          </ul>
        </nav>
        
      </header>
<section>

<h1>Ingrese datos de la nueva prueba</h1>
<form action='@Url.Action("GuardarRegistroPruebas","Home")' method= "post" enctype="multipart/form-data" >
<h2>Descripcion</h2>
<input type="text" name="Descripcion" placeholder="Ingresar descripcion"/>
<h2>Foto de la prueba</h2>
<input type="file" name="Imagen" placeholder="Ingresar foto"/>
<h2>Categoria</h2>
<input type="text" name="Categoria" placeholder="Ingresar Categoria"/>
<h2>Zona</h2>
<input type="text" name="Zona" placeholder="Ingresar zona"/>
<h2>Fecha prueba</h2>
<input type= "date" name="fechaPrueba" placeholder="Ingresar  fecha "/>
<h2>Genero</h2>
<input type="text" name="Genero" placeholder="Ingresar genero"/>
 <label>Deporte</label>
    <select name="idDeporte">
        <option value="1">Fútbol</option>
        <option value="2">Básquet</option>
        <option value="3">Vóley</option>
        <option value="4">Tenis</option>
        <option value="5">Hockey</option>
        <option value="6">Natación</option>
        <option value="7">Atletismo</option>
        <option value="8">Rugby</option>
        <option value="9">Handball</option>
        <option value="10">Gimnasia</option>
        <option value="11">Padel</option>
    </select>
     <label>Club</label>
    <select name="idClub">
        <option value="1">Club Atlético River Plate</option>
        <option value="2">Boca Juniors</option>
        <option value="3">Racing Club</option>
        <option value="4">San Lorenzo de Almagro</option>
        <option value="5">Club Atlético Independiente</option>
        <option value="6">Club Atlético Rosario Central</option>
        <option value="7">Club Atlético Newell´s Old Boys</option>
        <option value="8">Club Atlético Vélez Sarfield</option>
        <option value="9">Club Atlético Estudiantes de La Plata</option>
        <option value="10">Club Atlético Huracán</option>
        <option value="11">Hacoaj</option>
        <option value="12">San Diego</option>
        <option value="13">Ferro</option>
        <option value="14">Nueva Chicago</option>
        <option value="15">Comunicaciones</option>
    </select>

    <input type="submit" value="Subir Prueba"/>

</form>

</section>


  <footer>
    <div>
      <img src="img/logo.png" alt="Sportlink">
      <p>
        Conectando el talento joven con su futuro profesional.<br>
        Damos visibilidad a tu talento y les abrimos las puertas<br>
        a nuevas oportunidades
      </p>
    </div>
  
    <div>
      <h3>Explorá</h3>
      <ul>
        <li><a href='@Url.Action("Index", "Home")'>Inicio</a></li>
        <li><a href='@Url.Action("irVideos", "Home")'>Videos</a></li>
        <li><a href='@Url.Action("irPruebas", "Home")'>Pruebas</a></li>
      </ul>
    </div>
  
    <div>
      <h3>Seguinos</h3>
      <div class="redes">
        <img src="img/ig.png" alt="Instagram">
        <img src="img/tw.png" alt="X">
      </div>
      <h3>Contacto</h3>
      <p>
        email: sportlink@gmail.com<br>
        teléfono: +54 0000 0000
      </p>
    </div>
  </footer>